<%- include("templates/header") %>
<div class="row mb-3 text-center">
    <h1>PENGUINS</h1>
    <br>
    <div class="col-md-4 themed-grid-col">
        <p><img src='/penguin1.gif' style='width:250px;'></p>
    </div>
    <div class="col-md-4 themed-grid-col">
        <p><img src='/penguin2.gif' style='width:250px;'></p>
    </div>
    <div class="col-md-4 themed-grid-col">
        <p><img src='/penguin3.gif' style='width:250px;'></p>
    </div>
  </div>
<%- include("templates/footer") %>